In [1]:
#SET PARAMETERS
contract_address = '0x6bE69b2A9B153737887CfcdCa7781eD1511C7e36'
deployment_block = 14058641
asset_id_min = 1
asset_id_max = 7777

In [2]:
import ethereumetl
import pandas as pd
import numpy as np
import httpx
import requests
import json
import os
from datetime import datetime, timedelta
import copy

In [3]:
#Alchemy API requests for NFT metadata
ALCHEMY_API_KEY = os.getenv('ALCHEMY_API_KEY')
assets_not_fetched = []

for asset_id in range(asset_id_min, asset_id_max+1):

    if asset_id % 500 == 0:
        percent_complete = asset_id/asset_id_max
        print("Progress: " + str(asset_id) + " assets updated ("+str(round(percent_complete*100,2))+"% complete).")
    
    alchemy_url = 'https://eth-mainnet.g.alchemy.com/{api_key}/v1/getNFTMetadata?contractAddress={contract_address}&tokenId={asset_id}&tokenType=erc721'.format(api_key=ALCHEMY_API_KEY,contract_address=contract_address,asset_id=asset_id)
    headers = {
            'Accept': 'application/json',
        }
    try:
        r = httpx.get(alchemy_url, headers=headers)
        j = r.json()
    except:
        assets_not_fetched.append(asset_id)
        print("Request failed for asset #"+str(asset_id))
        continue
    
    if not bool(j["metadata"]):
        assets_not_fetched.append(asset_id)
        print("Metadata not found for asset #"+str(asset_id))
        continue
        
    elif not j["metadata"]["attributes"]:
        assets_not_fetched.append(asset_id)
        print("No attributes for asset #"+str(asset_id))
        continue
        
    else:
        attributes_raw = j["metadata"]["attributes"]
    
    attributes_df = pd.DataFrame(attributes_raw)
    attributes_df['asset_id'] = asset_id
    
    if asset_id == asset_id_min:
        nft_attributes = attributes_df
    else:
        nft_attributes = nft_attributes.append(attributes_df)
    
nft_attributes.to_csv('./raw-data/raw_attributes.csv', index=False)
display(nft_attributes)

Progress: 500 assets updated (6.43% complete).
Progress: 1000 assets updated (12.86% complete).
Progress: 1500 assets updated (19.29% complete).
Progress: 2000 assets updated (25.72% complete).
Progress: 2500 assets updated (32.15% complete).
Progress: 3000 assets updated (38.58% complete).
Metadata not found for asset #3350
Metadata not found for asset #3443
Progress: 3500 assets updated (45.0% complete).
Metadata not found for asset #3899
Progress: 4000 assets updated (51.43% complete).
Metadata not found for asset #4219
Progress: 4500 assets updated (57.86% complete).
Progress: 5000 assets updated (64.29% complete).
Request failed for asset #5489
Progress: 5500 assets updated (70.72% complete).
Metadata not found for asset #5746
Metadata not found for asset #5747
Progress: 6000 assets updated (77.15% complete).
Metadata not found for asset #6241
Metadata not found for asset #6312
Progress: 6500 assets updated (83.58% complete).
Metadata not found for asset #6747
Metadata not found for asset #6869
Metadata not found for asset #6879
Progress: 7000 assets updated (90.01% complete).
Metadata not found for asset #7064
Metadata not found for asset #7274
Metadata not found for asset #7322
Metadata not found for asset #7383
Progress: 7500 assets updated (96.44% complete).
Metadata not found for asset #7574

                value  trait_type  asset_id
0      Soft Pink Grin       Mouth         1
1                Pale        Skin         1
2               AR-15      Weapon         1
3   Crimson Explosion  Background         1
4      Pattern Jacket     Clothes         1
..                ...         ...       ...
2     Short Dark Hair        Hair      7777
3   Closed Smile Pink       Mouth      7777
4               Light        Skin      7777
5       Double Katana      Weapon      7777
6      Crimson Ripple  Background      7777

[61490 rows x 3 columns]

In [4]:
#Calculate statistical rarity across attribute count, traits, and categories
raw_attributes = pd.read_csv('./raw-data/raw_attributes.csv')

attribute_count = raw_attributes.groupby('asset_id').size().reset_index(name='attribute_count')
attribute_count_rarity = attribute_count.groupby('attribute_count').size().reset_index(name='count_rarity')
attribute_count_rarity['attribute_count_rarity_score'] = 1/(attribute_count_rarity['count_rarity']/(asset_id_max-asset_id_min+1))

trait_rarity = raw_attributes.groupby(['trait_type','value']).size().reset_index(name='trait_rarity')
trait_rarity['trait_rarity_score'] = 1/(trait_rarity['trait_rarity']/(asset_id_max-asset_id_min+1))

category_rarity = trait_rarity[['trait_type','value','trait_rarity']].groupby('trait_type').sum('trait_rarity').reset_index()
category_rarity['category_none_score'] = 1/(((asset_id_max-asset_id_min+1)-category_rarity['trait_rarity'])/(asset_id_max-asset_id_min+1))

print("Attribute Count Rarity:")
display(attribute_count_rarity)

print("Trait Rarity:")
display(trait_rarity)

print("Category Rarity:")
display(category_rarity)

Attribute Count Rarity:

   attribute_count  count_rarity  attribute_count_rarity_score
0                1             7                   1111.000000
1                7          2220                      3.503153
2                8          3854                      2.017903
3                9          1679                      4.631924

Trait Rarity:

     trait_type                 value  trait_rarity  trait_rarity_score
0    Background        Black Gradient           383           20.305483
1    Background     Crimson Explosion           406           19.155172
2    Background      Crimson Gradient           337           23.077151
3    Background          Crimson Hole           367           21.190736
4    Background        Crimson Ripple           441           17.634921
..          ...                   ...           ...                 ...
276      Weapon  Spectral Pink Blades           107           72.682243
277      Weapon           Spirit Fire           315           24.688889
278      Weapon               Syringe           114           68.219298
279      Weapon         Triple Katana           129           60.286822
280      Weapon             Vampblade           116           67.043103

[281 rows x 4 columns]

Category Rarity:

   trait_type  trait_rarity  category_none_score
0  Background          7753           324.041667
1     Clothes          7753           324.041667
2        Eyes          7753           324.041667
3     Eyewear          3729             1.921196
4        Hair          7753           324.041667
5         Hat          3483             1.811132
6   KILLER GF             7             1.000901
7       Mouth          7753           324.041667
8        Skin          7753           324.041667
9      Weapon          7753           324.041667

In [5]:
#Construct dataframe and generate CSV output
categories = raw_attributes[['asset_id','value','trait_type']]
categories = categories.merge(trait_rarity[['trait_type','value','trait_rarity_score']], on=['trait_type','value'], how='left')
nft_df = copy.deepcopy(attribute_count)
nft_df = nft_df.merge(attribute_count_rarity[['attribute_count','attribute_count_rarity_score']], on='attribute_count', how='left')

categories['trait_type'] = categories['trait_type'].str.replace(' ','_')
category_rarity['trait_type'] = category_rarity['trait_type'].str.replace(' ','_')
distinct_trait_types = categories['trait_type'].unique()

df_dict = {}
for name in distinct_trait_types:
    df_dict[name] = pd.DataFrame()
    df_dict[name] = categories[(categories['trait_type'] == name)]

for name in distinct_trait_types:
    nft_df = nft_df.merge(df_dict[name], on='asset_id', how='left')

base_column_names = ['asset_id', 'attribute_count', 'attribute_count_rarity_score']
trait_column_names = []

for name in distinct_trait_types:
    trait_column_names.append(name+"_attribute")
    trait_column_names.append(name)
    trait_column_names.append(name+"_rarity_score")

column_names = base_column_names + trait_column_names
nft_df.columns = column_names

category_none_scores = category_rarity[['trait_type','category_none_score']]

for name in distinct_trait_types:
    nft_df[name+'_rarity_score'] = nft_df[name+'_rarity_score'].fillna(value=category_none_scores.loc[category_none_scores['trait_type'] == name, 'category_none_score'].iloc[0])
    
nft_df['overall_rarity_score'] = nft_df[[col for col in nft_df.columns if col.endswith('_rarity_score')]].sum(axis=1)

for name in distinct_trait_types:
    nft_df.drop(columns=[name], axis=1, inplace=True)

display(nft_df)
nft_df.to_csv("./metadata.csv", index=False)

,asset_id,attribute_count,attribute_count_rarity_score,Mouth_attribute,Mouth_rarity_score,Skin_attribute,Skin_rarity_score,Weapon_attribute,Weapon_rarity_score,Background_attribute,...,Eyes_rarity_score,Eyewear_attribute,Eyewear_rarity_score,Hair_attribute,Hair_rarity_score,Hat_attribute,Hat_rarity_score,KILLER_GF_attribute,KILLER_GF_rarity_score,overall_rarity_score
0,1,8,2.017903,Soft Pink Grin,31.742857,Pale,6.167328,AR-15,18.605263,Crimson Explosion,...,25.250000,Censor,92.583333,Long Silver Bangs,37.936585,NaN,1.811132,NaN,1.000901,278.308313
1,2,7,3.503153,Snaggle Tooth,26.633562,Bloody Tanline,40.505208,Gun,20.519789,KGF Pattern,...,38.885000,NaN,1.921196,Dark Devil Braids,40.505208,NaN,1.811132,NaN,1.000901,252.777725
2,3,9,4.631924,Average Smile,35.190045,Light,3.210983,Dual Wield,45.479532,KGF Pattern,...,25.250000,Red Glasses,22.542029,Dark Flowy Buns,28.487179,Blood Halo,39.477157,NaN,1.000901,270.503698
3,4,9,4.631924,Red Lick,34.564444,Light,3.210983,Triple Katana,60.286822,White KGF Pattern,...,53.267123,Eye Patch White,30.027027,Dark Buns,30.984064,Devil White Horns,46.849398,NaN,1.000901,327.086369
4,5,9,4.631924,Closed Smile Red,34.718750,Light,3.210983,Devil Scythe,62.216000,Dark KGF Pattern,...,22.673469,Round Glasses,22.283668,Pink Ribbon Twintails,33.521552,Crimson Mouse,172.822222,NaN,1.000901,468.724076
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7755,7773,7,3.503153,Bleed,43.446927,Tanline,6.906750,Feather Wings,24.379310,Crimson Ripple,...,38.122549,NaN,1.921196,Blonde Flowy Hair,28.697417,NaN,1.811132,NaN,1.000901,203.596348
7756,7774,7,3.503153,Bleed,43.446927,Light,3.210983,Katana,18.002315,GF Heart Pink,...,52.194631,NaN,1.921196,Long Silver Bangs,37.936585,NaN,1.811132,NaN,1.000901,222.538029
7757,7775,9,4.631924,Bleed,43.446927,Bloody Dark,29.911538,AR-15,18.605263,GF Heart Pink,...,25.250000,Round Glasses,22.283668,White Android Hair,47.711656,Nurse Hat,288.037037,NaN,1.000901,577.479960
7758,7776,8,2.017903,Blue Lick,28.697417,Light,3.210983,Devil Spears,37.752427,White,...,18.170561,NaN,1.921196,Pink Ribbon Twintails,33.521552,Red Ribbon,32.539749,NaN,1.000901,228.234660
7759,7777,7,3.503153,Closed Smile Pink,34.109649,Light,3.210983,Double Katana,28.280000,Crimson Ripple,...,26.185185,NaN,1.921196,Short Dark Hair,37.033333,NaN,1.811132,NaN,1.000901,264.225664